body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav>* {
    border: 1px solid black;
}

.nav-brand {
    padding: 10px 15px;
}

.nav-acc {
    padding: 10px 15px;
}

.nav-links {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
}

.nav-item {
    border: 1px dashed red;
}

.nav-item a {
    padding: 10px 15px;
}

.container {
    display: flex;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.text {
    display: flex;
    justify-content: space-between;
}

.preview>ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
}

#coverimg {
    width: 400px;
    height: 500px;
}

#coverimg img {
    width: 100%;
}

#slogan {
    font-size: 35px;
}