body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #f9faf7;
    color: #361d1a;
    border: 2px solid #361d1a;

}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    line-height: 45px;
    border-bottom: 2px solid #361d1a;
}


.nav-brand {
    padding: 10px 15px;
}

.nav-acc {
    padding: 10px 15px;
}

.nav-links {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
}

.nav-item {
}

.nav-item a {
    padding: 10px 15px;
    text-decoration: none;
}

.container {
    display: flex;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.text {
    display: flex;
    justify-content: space-evenly;
    line-height: 50px;
}

.preview>ul {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
}


#coverimg {
    width: 35%;
}

#coverimg img {
    width: 100%;
}

#slogan {
    font-size: 55px;
}